{% extends 'base.html.twig' %}

{% block title %}Todo index{% endblock %}

{% block body %}
    <h1>Todo index</h1>
    <div>
        Rechercher : <input type="search" id="search" name="search">
    </div>
    <div>
        {{form_start(form)}}
            {{form_row(form.done)}}
            <input type="submit" name="button" value="Envoyer">
        {{form_end(form)}}
    </div>
    <table class="table">
        <thead>
            <tr>
                <th><a href="/todo?orderby=id&order={{order}}">ID</a></th>
                <th><a href="/todo?orderby=name&order={{order}}">Name</a></th>
                <th>Description</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
            <tr class="line">
                <td class="id">{{ todo.id }}</td>
                <td>{{ todo.name }}</td>
                <td>{{ todo.description }}</td>
                <td class="done">{% if todo.done == 1 %} Fait {% else %} A faire {% endif %}</td>
                <td>
                    <a href="{{ path('app_todo_show', {'id': todo.id}) }}">Voir</a>
                    <a href="{{ path('app_todo_edit', {'id': todo.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune données</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_todo_new') }}">Nouveau</a>
{% endblock %}
